@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #e0e0e0;
}

body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling on touch */
  touch-action: none;
}